<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tarefas</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <div class="conteiner "> 
        <div class="row pt-5 ps-8" style="background-image: url('img/fundo_forms.jpg');">    
        <div class="row ps-5 px-5">   
           <div class="w-100">
            <div class="card shadow mb-4 ">
                            
                <table class="table">
                    <div class="fs-4 fw-bold text-center ">Lista dos melhores trabalhadores</div>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Apelido</th>
                        <th scope="col">User</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                    <div class="row mb-3"></div>
                </table>               
                </div>                
                </div>
                   

                                    
    
        
                                    












    <script src="/js/bootstrap.min.js"></script>
</body>
</html>